# ==========================================
# Laboratorio de Software - .gitignore
# ==========================================

# Backups y Archivos Comprimidos
*.zip
*.tar.gz
*.rar
*.bak

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Entornos Virtuales
.venv/
env/
venv/
ENV/

# Variables de Entorno y Secretos
*.env
.env
.env.local

# Sistema Operativo y Editores
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.vscode/
.idea/
